@use 'reset';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  background: cornsilk;
}

.header {
  width: 100%;
  background: red;
  padding: 0.5em 20%;
  box-shadow: 0 0.5em 1em -1em black;
  > h1 {
    font-weight: bolder;
    font-size: xx-large;
  }
}

.table-wrapper {
  // height: 80vh;
  max-height: 85vh;
  overflow-y: scroll;
}

table {
  width: 100%;
  th {
    font-weight: bold;
    font-size: large;
  }
}

.content {
  // width: 100%;
  max-width: 60%;
  margin: 1em auto;
}
